ul,
ol {
  margin-top: 0;
  margin-bottom: 11px;
}

.background {
  background-color: #EEE3FC;
  width: 100%;
}

.wrapper {
  max-width: 1366px;
  margin: auto;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-title-1 {
  font-family: 'Overlock', cursive;
  font-size: 2.9em;
  margin-left: 10%;
  margin-top: 30px;
  padding-top: 58px;
  color: #e88831;
}

.page-title-2 {
  font-family: 'Overlock', cursive;
  font-size: 2.9em;
  margin-left: 5.5%;
  margin-top: 30px;
  padding-top: 67px;
  color: #e88831;
}

.page-title-3 {
  font-family: 'Overlock', cursive;
  font-size: 2.9em;
  margin-left: 5.5%;
  margin-top: 30px;
  padding-top: 65px;
  color: #e88831;
}

.page-title-4 {
  font-family: 'Overlock', cursive;
  font-size: 2.9em;
  margin-left: 48.5%;
  margin-top: 30px;
  color: #e88831;
}

.page-title-5 {
  font-family: 'Overlock', cursive;
  font-size: 2.9em;
  margin-left: 48.5%;
  margin-top: 30px;
  color: #e88831;
}

/* * * * * * * * * * * * * * Hero Stuff * * * * * * * * * * * * * * * * */

.fonthero1 {
  font-family: 'Marck Script', cursive;
  color: #552740;
  font-size: 3.5em;
  margin-left: 51%;
  padding-top: 45px;
}

.fonthero2 {
  font-family: 'Marck Script', cursive;
  color: #7B395D;
  font-size: 2.2em;
  margin-left: 51%;
}

.hero {
  background-image: url("../images/heropng.png");
  height: 450px;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 325px) {
  .fonthero1 {
    display: none !important;
  }
}

@media screen and (max-width: 325px) {
  .fonthero2 {
    padding-top: 200px !important;
    margin-left: 52.5%;
  }
}

/* * * * * * * * * * Menu * * * * * * * * * * * * * * * * * * */

header {
  width: 100%;
}

header nav {
  float: left;
  line-height: 0.30;
}

header li {
  display: inline-block;
  padding-right: 30px;
  font-family: 'Overlock', cursive;
}

.top-menu {
  height: 50px;
  color: white;
  background: repeating-linear-gradient(125deg, #552740, #552740 30px, #7b395d 30px, #7b395d 60px);
  width: 100%;
  -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
}

.menu-options {
  display: inline-block;
  font-size: 1.5em;
  padding-top: 21px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

header a {
  color: #fa7600;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  text-decoration: none;
  border-top: 3.2px solid #3fa46a;
  border-bottom: 3.2px solid #3fa46a;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 4px;
  border: none;
}

header ul {
  padding-bottom: 10px;
}

header a:hover {
  color: #e0dd73;
  border-top: 3.2px solid #e0dd73;
  border-bottom: 3.2px solid #e0dd73;
  text-decoration: none;
  padding: 1.2px 0;
}

.menu {
  position: absolute;
  width: 300px;
  height: 100vh;
  background: pink;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 100;
  border-radius: 10px;
}

.open {
  left: 0;
  background-color: #552740;
  -webkit-box-shadow: 3px 4px 3px #000;
          box-shadow: 3px 4px 3px #000;
}

.close {
  left: -300px;
}

.mobile {
  display: inline-block;
  font-size: 1.5em;
  padding-bottom: 10px;
  margin-bottom: 500px;
  float: left;
  z-index: 10;
}

.burgadjust {
  font-size: 2.2em;
  padding-left: 12px;
  padding-top: 8px;
}

.mobile-options {
  padding-top: 50px;
  font-size: 1.6em;
}

.mobile-options a {
  color: #FA5C00;
  padding-bottom: 10px;
}

.top-menu hr {
  border: none;
  border: 1.5px solid #7b395d;
  margin-top: 20px;
}

.mobile-logo {
  font-size: 2em;
  padding-top: 40px;
}

.contpage {
}

/* * * * * * * * * * * Footer * * * * * * * * * * * * * * */

footer {
  background: #552740;
  padding: 60px 0;
  text-decoration: none;
}

footer nav {
  float: left;
  font-family: 'Overlock', cursive;
  text-decoration: none;
}

footer a {
  color: #fa7600;
  font-size: 20px;
  line-height: 2.6em;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  text-decoration: none;
}

footer li {
  list-style: none;
}

footer h5 {
  color: #e0dd73;
  font-size: 20px;
  padding-left: 39px;
  display: inline-block;
}

.privacyfooter {
  text-align: center;
  padding-left: 9%;
}

.iconpush {
  padding-right: 18px;
}

footer a:hover {
  color: #e0dd73;
}

/* * * * * * * * * * * * Home Content * * * * * * * * * * * */

.hc-1 {
  font-family: "Ovo", serif;
  background-color: #ffc48f;
  border-radius: 9px;
  height: 320px;
  display: flex;
  flex: 0.3;
  margin-left: 10px;
  border: 3px solid #f07d3f;
  margin-right: 10px;
}

.hc-2 {
    font-family: "Ovo", serif;
    flex: 1;
    margin-left: 20px;
    border-radius: 9px;
    padding: 8px;
    font-size: 1.25em;
    color: #552740;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #7b395d;
    border: 3px solid #552740;
    border-radius: 9px;
    color: #e0dd73;
}

.hc-email {
  font-family: "Ovo", serif;
  flex: 1;
  margin-left: 20px;
  border-radius: 9px;
  padding: 8px;
  font-size: 1.25em;
  color: #552740;
  margin-left: 10%;
  margin-right: 10%;
  border: 3px solid #552740;
  border-radius: 9px;
  color: #552740;
  word-wrap: break-word;
  margin-top: 30px;
}

.hc-email a {
  margin-left: 27%;
  text-decoration: none;
  transition: 0.2s;
}

.hc-email a:hover {
  color: #552740;
}

.main-location {
  text-align: center;
}

.hcolor {
  color: #fa7600;
}

.mail-link {
  color: #FA5C00;
  font-size: 1.3em;
  font-weight: bold;
}

.tagline {
  color: #552740;
  font-size: 1.5em;
  margin-top: 4px;
}

.mini-tagline {
  color: #7B395D;
  font-size: 1.2em;
}

.mini-mini-tagline {
    color: #7B395D;
    font-size: 0.8em;
    margin-top: 4px;
}

.residence {
   color: #552740;
   font-size: 1.3em;
}

.pad-hc-1 {
  padding: 15px;
}

.home-intro {
  font-size: 1.4em;
  text-align: center;
}

.hc-1 a:hover {
    color: #552740;
    transition: 0.2s;
    text-decoration: none;
}

.hc-3 {
    margin-top: 20px;
    font-family: "Ovo", serif;
    flex: 1;
    border-radius: 9px;
    padding: 8px;
    font-size: 1.25em;
    border: 3px solid #552740;
    color: #552740;
    margin-left: 4%;
    margin-right: 5%;
    background-color: #7b395d;
    border: 3px solid #552740;
    border-radius: 9px;
    color: #e0dd73;
}

.streetlight {
    background: url("../images/streetlight.png");
    height: 200px;
    background-repeat: no-repeat;
    background-size: 100%;
    flex: 1;
    background-position: 55% 35%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.streetlight2 {
    background: linear-gradient(45deg, rgba(222,222,222,0.3), rgba(55,55,55,0.8)), url("../images/streetlight2.png");
    height: 200px;
    background-repeat: no-repeat;
    background-size: 100%;
    flex: 1;
    background-position: 55% 18%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.streetlight3 {
    background: url("../images/streetlight3.png");
    height: 200px;
    background-repeat: no-repeat;
    background-size: 100%;
    flex: 1;
    background-position: 55% 35%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.streetlight4 {
    background: url("../images/streetlight4.png");
    height: 200px;
    background-repeat: no-repeat;
    background-size: 100%;
    flex: 1;
    background-position: 55% 35%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.streetlight5 {
    background: url("../images/streetlight5.png");
    height: 200px;
    background-repeat: no-repeat;
    background-size: 100%;
    flex: 1;
    background-position: 55% 35%;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media screen and (max-width: 850px) {
    .hc-2 {
        display: none;
    }
}

@media screen and (min-width: 400px) {
    .hc-3 {
        display: none;
    }
}

@media screen and (max-width: 850px) {
    .hc-3 {
        display: block !important;
        margin-left: 2%;
    }
    .hc-email {
      margin-left: 2%;
    }
    .hc-email a {
      margin-left: 1%;
    }
}



/* * * * *  * * * * * * Flashy Comp * * * * * * * * * * * * */

.container {
  position: relative;
  margin-left: 2%;
  margin-top: 50px;
  z-index: 2;
  flex: 1;
}

.emoticons {
  position: absolute;
  bottom: 133px;
  margin-left: 88px;
  font-size: 2.5em;
  color: #552740;
  z-index: 2;
}

@media screen and (max-width: 600px) {
    .container {
        margin-left: 3%;
    }
    .emoticons {
        margin-left: 93px;
    }
}

@media screen and (min-width: 849px) {
    .container {
        margin-left: 20%;
    }
    .emoticons {
        margin-left: 93px;
    }
}

@media screen and (min-width: 850px) {
    .container {
        margin-left: 40%;
    }
    .emoticons {
        margin-left: 93px;
    }
}


/* * * * * * * * * * * * * Pinwheel * * * * * * * * * * * * * * * * * * */


.footer1 {
  color: #FA5C00;
  font-family: 'Overlock', cursive;
  font-size: 2.2em;
  margin-left: 9%;
  text-align: center;
}

.footer2 {
  color: #e0dd73;
  font-family: 'Overlock', cursive;
  font-size: 1.5em;
  margin-left: 8.5%;
  text-align: center;
}

/* * * * * * * * * * * * * * About Me * * * * * * * * * * * * * * */

.flex-container {
  display: flex;
}

.about-title {
    font-family: "Ovo", serif;
    color: #552740;
    text-align: center;
    font-size: 1.5em;
    margin-top: 35px;
    border-radius: 15px;
    margin-left: 3%
}

.about-hr {
    border-style: none;
    border-bottom: 3px solid #552740;
    max-width: 950px;
}

.roundpic {
    margin-bottom: 30px;
    height: 50%;
    width: 50%;
    border: 10px solid white;
}

.txt1 {
    font-family: "Ovo", serif;
    color: #e0dd73;
    font-size: 1.22em;
    margin-right: 20px;
    padding-left: 20px;
}

.txt2 {
    font-family: "Ovo", serif;
    color: #e0dd73;
    font-size: 1.22em;
    margin-left: 20px;
    padding-right: 20px;
}

.abouttxt {
  flex: 2;
  margin-right: 100px;
  font-family: "Ovo", serif;
  color: #552740;
  font-size: 1.13em;
}

.txt3 {
    font-family: "Ovo", serif;
    color: #e0dd73;
    font-size: 1.22em;
    margin-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
}

.txt4 {
    font-family: "Ovo", serif;
    color: #e0dd73;
    font-size: 1.22em;
    margin-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
}

.textwrap {
    background-color: #7b395d;
    height: 422px;
    margin-left: 20px;
    border-radius: 15px;
    padding: 5px;
    padding-top: 15px;
    border: 2px solid #552740;
}

.textwrap2 {
    background-color: #7b395d;
    border: none;
    margin-bottom: 15px;
    margin-left: 1.3%;
    margin-right: 1.3%;
    border-radius: 9px;
}

.about-padding {
    padding-bottom: 80px;
}

.about-border-1 {
  /*background-color: #f3ccbd;*/
  padding: 9px;
  border-radius: 9px;
}

.about-border-2 {
  /*background-color: #d2cffb;*/
  padding: 9px;
  border-radius: 9px;
}

.pad-between {
    padding-bottom: 45px;
    padding-bottom: 20px;
}

@media screen and (max-width: 1160px) {
    .txt1 {
        display: none !important;
    }

    .txt2 {
        display: none !important;
    }

    .textwrap {
        display: none !important;
    }

    .roundpic {
        margin-left: 30%;
    }
    .textwrap2 {
        border: 2px solid #552740;
    }
}

@media screen and (min-width: 1160px) {
    .txt3 {
        display: none !important;
    }

    .txt4 {
        display: none !important;
    }
}

/* * * * * * * * * Projects/Meddling * * * * * * * * * * * * * * */

.accord-title {
  font-family: 'Overlock', cursive;
  color: #552740;
  font-height: 1.4em;
  padding: 7px;
  background-color: #9f8ed8;
  border-radius: 11px;
  text-align: center;
}

.skilladjust {
    margin-left: 18.6%;
}

.projectstxt {
    max-width: 600px;
    font-family: "Ovo", serif;
    background-color: #f3ccbd;
    color: #552740;
    margin-bottom: 80px;
    padding: 40px;
    flex: 2;
    margin-right: 10%;
    border-radius: 10px;
    padding-bottom: 40px;
}

.section-desc {
    color: purple;
    font-family: "Ovo", serif;
    font-size: 1.05em;
    text-align: center;
    padding-bottom: 50px;
    margin-left: 0.9%;
}

.skill1 {
    background: url("../images/htmlcss.png");
    height: 200px;
    background-repeat: no-repeat;
    width: 100%;
    margin-left: 2%;
    flex: 1;
}

.skill2 {
    background: url("../images/jsedit.png");
    height: 200px;
    background-repeat: no-repeat;
    width: 100%;
    margin-left: 4%;
}

.skill3 {
    background: url("../images/cloudedit.png");
    height: 200px;
    background-repeat: no-repeat;
    width: 100%;
    margin-left: 4%;
}

.skill4 {
    background: url("../images/jqueryedit.png");
    height: 200px;
    background-repeat: no-repeat;
    width: 100%;
    margin-left: 4%;
}

.skill5 {
    background: url("../images/sassedit.png");
    height: 200px;
    background-repeat: no-repeat;
    width: 100%;
    margin-left: 4%;
}

.skill6 {
    background: url("../images/laraedit.png");
    height: 200px;
    background-repeat: no-repeat;
    width: 100%;
    margin-left: 4%;
}

.skill7 {
    background: url("../images/phpedit.png");
    height: 200px;
    background-repeat: no-repeat;
    width: 100%;
    margin-left: 2%;
}

.skill8 {
    background: url("../images/wpedit.png");
    height: 200px;
    background-repeat: no-repeat;
    width: 100%;
    margin-left: 3%;
}

.unveilh2{
    color: #fa7600;
}

.unveil1 {
  display: none;
  font-family: "Ovo", serif;
  max-width: 740px;
  border-radius: 9px;
  background-color: #552740;
  padding: 8px;
  color: #e0dd73;
  margin-left: 40px;
  position: absolute;
  margin-top: 25px;
  margin-right: 1.3%;
  border: 2px solid #552740;
}

.unveil2 {
  display: none;
  font-family: "Ovo", serif;
  max-width: 740px;
  border-radius: 9px;
  background-color: #552740;
  padding: 8px;
  color: #e0dd73;
  margin-left: 100px;
  position: absolute;
  margin-top: 30px;
  margin-right: 1.3%;
  border: 2px solid #552740;
}

.unveil3 {
  display: none;
  font-family: "Ovo", serif;
  max-width: 740px;
  border-radius: 9px;
  background-color: #552740;
  padding: 8px;
  color: #e0dd73;
  margin-left: 120px;
  position: absolute;
  margin-top: 70px;
  margin-right: 1.3%;
  border: 2px solid #552740;
}

.micromob {
    display: none;
    font-family: "Ovo", serif;
    max-width: 600px;
    border-radius: 9px;
    background-color: #552740;
    padding: 8px;
    color: #e0dd73;
    margin-left: 1.3%;
    margin-right: 1.3%;
    margin-top: 10px;
}

.calcmob {
    display: none;
    font-family: "Ovo", serif;
    max-width: 600px;
    border-radius: 9px;
    background-color: #552740;
    padding: 8px;
    color: #e0dd73;
    margin-left: 1.3%;
    margin-right: 1.3%;
    margin-top: 10px;
}

.RPSDmob {
    display: none;
    font-family: "Ovo", serif;
    max-width: 600px;
    border-radius: 9px;
    background-color: #552740;
    padding: 8px;
    color: #e0dd73;
    margin-left: 1.3%;
    margin-right: 1.3%;
    margin-top: 10px;
}

/*.hoverme1:hover + .unveil1 {
  display: inline-block;
}

.hoverme2:hover + .unveil2 {
  display: inline-block;
}

.hoverme3:hover + .unveil3 {
  display: inline-block;
}*/

.project1 {
    margin-left: 40px;
}

.microadjust {
  margin-left: 10%;
}

.calcadjust {
  margin-left: 10%;
  margin-top: 30px;
}

.dynadjust {
  margin-left: 10%;
  margin-top: 30px;
}

@media screen and (max-width: 750px) {
  .microadjust {
    margin-left: 0.5%;
  }
  .calcadjust {
    margin-left: 0.5%;
  }
  .dynadjust {
    margin-left: 0.5%;
  }

}

@media screen and (min-width: 800px) {
    .hoverme1:hover + .unveil1 {
      display: inline-block;
      transition: 2s;
    }

    .hoverme2:hover + .unveil2 {
      display: inline-block;
    }

    .hoverme3:hover + .unveil3 {
      display: inline-block;
    }
}

@media screen and (max-width: 800px) {
    .micromob {
      display: inline-block;
    }

    .calcmob {
      display: inline-block;
    }

    .RPSDmob {
      display: inline-block;
    }
}

.footerpadding {
    margin-top: 120px;
}


/* * * * * * * * * * * * Contact * * * * * * * * * * * * * * * */

.textinput {
    height: 200px;
    width: 90%;
    margin-top: 10px;
    max-height: 195px;
    max-width: 89%;
}

.contactadjust {
  margin-left: 45px;
}

.contactpad {
  margin-top: 70px;
}

.contact-desc {
  font-family: "Ovo", serif;
  flex: 1;
  background-color: #7b395d;
  margin-left: 20px;
  padding: 12px;
  font-size: 1.25em;
  border: 3px solid #552740;
  border-radius: 9px;
  margin-top: 15px;
  color: #e0dd73;
  flex: 2;
}

.contact-desc h3 {
  color: #fa7600;
}

.contact-desc a {
  color: #fa7600;
  text-decoration: none;
}

.contact-desc a:hover {
  color: #f9a75d;
  transition: 0.3s;
}

.contact-form {
    background-color: #7b395d;
    height: 432px;
    border-radius: 9px;
    margin-left: 15px;
    margin-top: 15px;
    margin-right: 1.3%;
    flex: 2;
}

.contact-item {
    padding-left: 40px;
    font-family: "Ovo", serif;
    padding-top: 20px;
    color: #fa7600;
    font-weight: bold;
}

.contact-item2 {
    padding-left: 40px;
    font-family: "Ovo", serif;
    padding-top: 20px;
    margin-bottom: 10px;
    color: #fa7600;
    font-weight: bold;
}

.citytext {
    margin-left: 11px;
}

.submit-button1 {
    background-color: #552740;
    color: #fa7600;
    border-style: ridge;
    border-radius: 9px;
    border-color: #fa7600;
    font-family: "Ovo", serif;
}

.map-adjust {
    margin-left: 10px;
}

.hc-alt {
  font-family: "Ovo", serif;
  background-color: #ffc48f;
  border-radius: 9px;
  height: 420px;
  margin-left: 10px;
  border: 4px solid #552740;
  margin-right: 10px;
  max-width: 400px;
  word-wrap: break-word;
}

.hrclr {
  border-color: #552740;
  border-style: ridge;
}

.residence i {
  font-size: 0.85em;
}

.flex-container-2 {
  display: flex;
}

#map {
  height: 380px;
  width: 500px;
  border: 4px solid;
  border-radius: 9px;
  border-color: #552740;
}

@media screen and (min-width: 800px) {
  #map {
    margin-left: 5%;
    margin-right: 1%;
    margin-top: 39px;
  }
  .hc-alt {
    margin-left: 10%;
    margin-top: 39px;
    height: 380px;
  }

  .contact-form {
    margin-left: 10%;
    max-width: 980px;
    margin-top: 15px;
    margin-right: 1.3%;
  }

  .contact-desc {
    margin-left: 10%;
    max-width: 950px;
    margin-right: 1.3%;
  }
}

@media screen and (max-width: 800px) {

  .flex-container-2 {
    display: inline;
  }

  #map {
    margin-top: 20px;
    width: 75%;
  }

  .contact-desc {
    margin-left: 2%;
    margin-right: 5%;
  }

  .contact-form {
    margin-right: 5%;
    min-width: 250px;
    margin-left: 1%
  }

  .contactadjust {
      margin-left: 15px;
  }
}

/* * * * * * * * * * * * * * Weather * * * * * * * * * * * * * * * * */

.weatherselect {
  color: #552740;
  font-family: "Ovo", serif;
  margin-left: 1.2%;
  text-align: center;
}

.main-weather {
  border-style: none;
  color: #552740;
  max-width: 260px;
  padding: 4px;
  margin-top: 37px;
  margin-left: 50px;
  margin-right: 1.5%;
}

.mainly {
  font-family: "Ovo", serif;
  font-size: 1.6em;
  color: #552740;
}

.details {
  font-family: "Ovo", serif;
  font-size: 1.2em;
  color: #552740;
}

.temperature {
  font-size: 3.3em;
  max-width: 200px;
  padding: 30px;
  font-family: "Ovo", serif;
  color: #552740;
  margin-left: 40px;
}

.iconexp {
  width: 60%;
  height: 60%;
  margin-left: 15px;
}

.humid {
  font-family: "Ovo", serif;
  color: #552740;
  font-size: 1.1em;
}

.pressure {
  font-family: "Ovo", serif;
  color: #552740;
  font-size: 1.1em;
}

.windspeed {
  font-family: "Ovo", serif;
  margin-top: 70px;
  font-size: 1.5em;
  color: #552740;
  margin-left: 5px;
}

.windthings {
  margin-left: 29%;
  border: 3px solid #7b395d;
  max-width: 550px;
  border-radius: 9px;
  margin-top: 15px;
  margin-bottom: 30px;
  margin-right: 1.5%;
}

.move-weather {
  margin-left: 29%;
  border: 3px solid #7b395d;
  border-radius: 9px;
  max-width: 550px;
}

.pinwheel-container {
  background: rgba(0 0 0 0);
    top: 0;
	left: 0;
  height: 200px;
  width: 200px;
  margin-left: 15px;

  animation: pinSpin 10s infinite linear;
  transform: rotate(360deg);
  transform-origin: 95px 95px;


  transform: rotate(360deg) translateX(0px);
  -webkit-animation: pinOrbit 10s linear infinite;
  -moz-animation: pinOrbit 10s linear infinite;
  -o-animation: pinOrbit 10s linear infinite;
  animation: pinOrbit 10s linear infinite;
}

#center-circle {
  background: #ffe000;
  border-radius: 6px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
  height: 10px;
  margin: 90px 0 0 90px;
  position: absolute;
  width: 10px;
  z-index: 9;
}

#circle-highlight {
  background: #fff7b2;
  border-radius: 1.5px;
  box-shadow: 0 0 2px 1px rgba(240, 211, 0, 0.8);
  height: 3px;
  position: relative;
    top: 2.5px;
	left: 6px;
  width: 3px;
  z-index: 10;
}

#triangle-large-upper-left {
  border-top: 65px solid transparent;
  border-left: 65px solid #7b395d;
  box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.4);
  height: 0;
  margin: 30px 0 0 30px;
  position: absolute;
  width: 0;
  z-index: 2;
}

 #triangle-small-upper-left {
  border-top: 65px solid transparent;
  border-right: 65px solid #552740;
  height: 0;
  margin: 30px 0 0 30px;
  position: absolute;
  width: 0;
  z-index: 1;
 }

#triangle-large-upper-right {
  border-top: 65px solid #7b395d;
  border-right: 65px solid transparent;
  box-shadow: -1px 0 2px -1px rgba(0, 0, 0, 0.4);
  height: 0;
  margin: 30px 0 0 95px;
  position: absolute;
  width: 0;
  z-index: 2;
}

#triangle-small-upper-right {
  border-bottom: 65px solid #552740;
  border-right: 65px solid transparent;
  height: 0;
  margin: 30px 0 0 95px;
  position: absolute;
  width: 0;
  z-index: 1;
}

#triangle-large-lower-left {
  border-bottom: 65px solid #7b395d;
  border-left: 65px solid transparent;
  box-shadow: 1px 0 2px -1px rgba(0, 0, 0, 0.4);
  height: 0;
  margin: 95px 0 0 30px;
  position: absolute;
  width: 0;
  z-index: 2;
}

#triangle-small-lower-left {
  border-top: 65px solid #552740;
  border-left: 65px solid transparent;
  box-shadow: 2px 0 2px -1px rgba(0, 0, 0, 0.4);
  height: 0;
  margin: 95px 0 0 30px;
  position: absolute;
  width: 0;
  z-index: 1;
}

#triangle-small-lower-right {
  border-bottom: 65px solid transparent;
  border-left: 65px solid #552740;
  box-shadow: 0 -1px 2px -1px rgba(0, 0, 0, 0.4);
  height: 0;
  margin: 95px 0 0 95px;
  position: absolute;
  width: 0;
  z-index: 1;
}

#triangle-large-lower-right {
  border-bottom: 65px solid transparent;
  border-right: 65px solid #7b395d;
  height: 0;
  margin: 95px 0 0 95px;
  position: absolute;
  width: 0;
  z-index: 2;
}

@-webkit-keyframes pinOrbit {
    from { -webkit-transform: rotate(0deg) translateX(0px); }
    to   { -webkit-transform: rotate(360deg) translateX(0px); }
}

@-moz-keyframes pinOrbit {
    from { -webkit-transform: rotate(0deg) translateX(0px); }
    to   { -webkit-transform: rotate(360deg) translateX(0px); }
}

@-o-keyframes pinOrbit {
    from { -webkit-transform: rotate(0deg) translateX(0px); }
    to   { -webkit-transform: rotate(360deg) translateX(0px); }
}

@keyframes pinOrbit {
    from { -webkit-transform: rotate(0deg) translateX(0px); }
    to   { -webkit-transform: rotate(360deg) translateX(0px); }
}

.movewind {
  margin-left: 9%;
}

@media screen and (max-width: 750px) {
    .movewind {
        margin-left: 0%;
        margin-right: 1%;
    }
    .windthings {
        margin-left: 1.5%;
    }

    .temperature {
        font-size: 1.9em;
    }
}

@media screen and (max-width: 750px) {
    .move-weather {
      margin-left: 1.5%;
    }
}

/* * * * * * * * **  * * Fade *** * * * * * *  * */

.fade {
  opacity: 1;
}

/* * * * *  * * * * Skill Orbs * * * * * ** * * * */

.ch-grid {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
	width: 100%;
}

.ch-grid:after,
.ch-item:before {
	content: '';
    display: table;
}

.ch-grid:after {
	clear: both;
}

.ch-grid li {
	width: 220px;
	height: 220px;
	display: inline-block;
	margin: 20px;
}

.ch-item {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	position: relative;
	cursor: default;
	box-shadow:
		inset 0 0 0 0 rgba(200,95,66, 0.4),
		inset 0 0 0 16px rgba(255,255,255,0.6),
		0 1px 2px rgba(0,0,0,0.1);
	transition: all 0.4s ease-in-out;
}

.ch-img-1 {
	background-image: url(../images/htmlcss.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 49%;
}

.ch-img-2 {
	background-image: url(../images/jsedit.png);
  background-repeat: no-repeat;
  background-position: 52% 52%;
}

.ch-img-3 {
	background-image: url(../images/jqueryedit.png);
  background-repeat: no-repeat;
  background-position: 50%;
}

.ch-img-4 {
	background-image: url(../images/cloudedit.png);
  background-repeat: no-repeat;
  background-position: 50%;
}
.ch-img-5 {
	background-image: url(../images/sassedit.png);
  background-repeat: no-repeat;
  background-position: 50%;
}
.ch-img-6 {
	background-image: url(../images/phpedit2.png);
  background-repeat: no-repeat;
  background-position: 50%;
}
.ch-img-7 {
	background-image: url(../images/laraedit.png);
  background-repeat: no-repeat;
  background-position: 50%;
}
.ch-img-8 {
	background-image: url(../images/stedit2.png);
  background-repeat: no-repeat;
  background-position: 50%;
}
.ch-img-9 {
	background-image: url(../images/wpedit.png);
  background-repeat: no-repeat;
  background-position: 50%;
}
.ch-img-10 {
	background-image: url(../images/jqueryedit.png);
  background-size: contain;
  background-repeat: no-repeat;
}


.ch-info {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	overflow: hidden;
	opacity: 0;
	transition: all 0.4s ease-in-out;
	transform: scale(0);
	backface-visibility: hidden;
}

.ch-info h3 {
	color: #fff;
	text-transform: uppercase;
	position: relative;
	letter-spacing: 2px;
	font-size: 22px;
	margin: 0 30px;
	padding: 65px 0 0 0;
	height: 110px;
	font-family: "Ovo", serif;
	text-shadow:
		0 0 1px #fff,
		0 1px 2px rgba(0,0,0,0.3);
}

.ch-info p {
	color: #fff;
	padding: 10px 5px;
	font-style: italic;
	margin: -80px 30px;
	font-size: 0.85em;
	border-top: 1px solid rgba(255,255,255,0.5);
  font-family: "Ovo", serif;
}

.ch-info p a {
	display: block;
	color: rgba(255,255,255,0.7);
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 9px;
	letter-spacing: 1px;
	padding-top: 4px;
	font-family: "Ovo", serif;
}

.ch-info p a:hover {
	color: rgba(255,242,34, 0.8);
}

.ch-item:hover {
	box-shadow:
		inset 0 0 0 110px rgba(105, 24, 119, 0.75),
		inset 0 0 0 16px rgba(255, 173, 71, 0.55),
		0 1px 2px rgba(0,0,0,0.1);
}

.ch-item:hover .ch-info {
	opacity: 1;
	transform: scale(1);
}
