<!doctype html>
<html lang="{{ app()->getLocale() }}">

<head>
  <link rel="stylesheet" href="./css/app.css">
  <link rel="stylesheet" href="./css/grid.css">
  <link href="https://fonts.googleapis.com/css?family=Marck+Script|Overlock|Ovo" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.css" />
  <link rel="icon" type="image/png" href="./images/favicon.png" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://use.fontawesome.com/d41a0ab025.js"></script>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Keep in touch with me! Contact info.">

  <title>Contact</title>
</head>

<body>
  <div class="background">
    <div class="wrapper">
      <div class="hero">
        <div class="fonthero1">Jupiter or Saturn</div>
        <div class="fonthero2">Colton Steele</div>
      </div>
      <header>
        <div class="top-menu">
          <div class="visible-for-small-only">
            <div id="mobile-menu" class="menu close">
              <div class="visible-for-small-only">
                <i id="close-mobile-menu-button" class="fa fa-bars fa-2x burgadjust" aria-hidden="true"></i>
                <ul>
                  <li class="mobile-options"><a href="./index.html">Home</a></li>
                  <hr>
                  <li class="mobile-options"><a href="./about-me.html">About Me</a></li>
                  <hr>
                  <li class="mobile-options"><a href="./projects-meddling.html">Projects/Meddling</a></li>
                  <hr>
                  <li class="mobile-options"><a href="./weather.html">Weather</a></li>
                  <hr>
                  <li class="mobile-options"><a href="./contact.html">Contact</a></li>
                </ul>
              </div>
            </div>
            <i id="open-mobile-menu-button" class="fa fa-bars fa-2x burgadjust" aria-hidden="true"></i>
          </div>

          <div class="menu-options visible-for-medium-and-up" id="hidemenu">
            <nav>
              <ul>
                <li><a href="./index.html">Home</a></li>
                <li><a href="./about-me.html">About Me</a></li>
                <li><a href="./projects-meddling.html">Projects/Meddling</a></li>
                <li><a href="./weather.html">Weather</a></li>
                <li><a href="./contact.html">Contact</a></li>
              </ul>
            </nav>
          </div>
        </div>

      </header>

      <div class="streetlight">
        <div class="page-title-3">Contact</div>
      </div>

      <div class="about-title">
        <div>
          <hr class="about-hr">
        </div>
        <div>Ways to Keep in Touch</div>
        <div>
          <hr class="about-hr">
        </div>
      </div>

      <div class="contactpad">
      </div>


      <div class="contactadjust">
        <div class="flex-container-2">
          <div class="hc-alt">
            <div class="pad-hc-1">
              <div class="residence">
                <i>Email:</i>
              </div>
              <div>
                <a href="mailto:Colton.Steele.Development@gmail.com" class="mail-link">
                  <hr class="hrclr"> Colton.Steele.Development@gmail.com
                </a>
                <hr class="hrclr">
              </div>
              <div class="residence">
                <i>Location:</i>
                <hr class="hrclr">
                <b>Calgary, AB, Canada</b>
                <hr class="hrclr">
              </div>
              <div class="residence">
                <i>Address:</i>
                <hr class="hrclr">
                <b>???? 10th St. NW</b>
                <hr class="hrclr">
              </div>
              <div class="residence">
                <i>Postal Code:</i>
                <hr class="hrclr">
                <b>T2K-???</b>
                <hr class="hrclr">
              </div>
            </div>
          </div>
          <div id="map" class="map-adjust flex-1"></div>
        </div>

        <div class="contact-desc">
          <h3>Reach Out</h3> Send out a message, and leave any email that I can get back to you with, and any name you'd like!
          <br/>
          <br/>
          <i>And be sure to check out the <a href="privacypolicy.html">Privacy Policy</a> should you
        have any extra reservations.</i>
        </div>

        <div id="contact-area">
          <div class="contact-form">
            <form method="post" action="./PHP/contactengine.php">
              <div class="contact-item">
                <label for="Name">Name:</label>
                <input type="text" name="Name" id="Name" />
              </div>
              <div class="contact-item">
                <label for="Email">Email:</label>
                <input type="text" name="Email" id="Email" />
              </div>
              <div class="contact-item">
                <label for="Message">Message:</label><br />
                <textarea name="Message" rows="20" cols="20" id="Message" class="textinput"></textarea>
              </div>
              <div class="contact-item">
                <input type="submit" name="submit" value="Submit" class="submit-button1" />
            </form>
            </div>
            <div style="clear: both;">
            </div>
          </div>
        </div>
      </div>

      <script>
        function initMap() {
          var uluru = {
            lat: 51.118,
            lng: -114.076
          };
          var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 4,
            center: uluru
          });
          var marker = new google.maps.Marker({
            position: uluru,
            map: map
          });
        }
      </script>
      <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAWCnDdAME4XjqHHf8k7yPSE9Ba4IX_PyE&callback=initMap">
      </script>
      <div class=footerpadding></div>

      <footer>
        <div class="footer1"><i class="fa fa-copyright" aria-hidden="true"></i> Colton Steele</div>
        <div class="footer2">Majority of content on site developed, or developed in part, by me. Otherwise, used content is free for use or used with permission.</div>
        <div class="privacyfooter"><a href="privacypolicy.html">Privacy</a></div>
      </footer>
    </div>
    <script src="javascript.js" charset="utf-8"></script>
    <script src="./app.js" charset="utf-8"></script>
</body>

</html>