<!doctype html>
<html lang="{{ app()->getLocale() }}">

<head>
  <link rel="stylesheet" href="./css/app.css">
  <link rel="stylesheet" href="./css/grid.css">
  <link href="https://fonts.googleapis.com/css?family=Marck+Script|Overlock|Ovo" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.css" />
  <link rel="icon" type="image/png" href="./images/favicon.png" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="javascript.js" charset="utf-8"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://use.fontawesome.com/d41a0ab025.js"></script>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="A collection of projects and materials I've worked on, and worked with!">

  <title>Projects-Meddling</title>
</head>

<body>
  <div class="background">
    <div class="wrapper">
      <div class="hero">
        <div class="fonthero1">Jupiter or Saturn</div>
        <div class="fonthero2">Colton Steele</div>
      </div>
      <header>
        <div class="top-menu">
          <div class="visible-for-small-only">
            <div id="mobile-menu" class="menu close">
              <div class="visible-for-small-only">
                <i id="close-mobile-menu-button" class="fa fa-bars fa-2x burgadjust" aria-hidden="true"></i>
                <ul>
                  <li class="mobile-options"><a href="./index.html">Home</a></li>
                  <hr>
                  <li class="mobile-options"><a href="./about-me.html">About Me</a></li>
                  <hr>
                  <li class="mobile-options"><a href="./projects-meddling.html">Projects/Meddling</a></li>
                  <hr>
                  <li class="mobile-options"><a href="./weather.html">Weather</a></li>
                  <hr>
                  <li class="mobile-options"><a href="./contact.html">Contact</a></li>
                </ul>
              </div>
            </div>
            <i id="open-mobile-menu-button" class="fa fa-bars fa-2x burgadjust" aria-hidden="true"></i>
          </div>

          <div class="menu-options visible-for-medium-and-up" id="hidemenu">
            <nav>
              <ul>
                <li><a href="./index.html">Home</a></li>
                <li><a href="./about-me.html">About Me</a></li>
                <li><a href="./projects-meddling.html">Projects/Meddling</a></li>
                <li><a href="./weather.html">Weather</a></li>
                <li><a href="./contact.html">Contact</a></li>
              </ul>
            </nav>
          </div>
        </div>

      </header>

      <div class="streetlight">
        <div class="page-title-3">Projects and Meddling</div>
      </div>

      <div class="about-title">
        <div>
          <hr class="about-hr">
        </div>
        <div>Projects</div>
        <div>
          <hr class="about-hr">
        </div>
      </div>

      <div class="section-desc">A collection of stuff I've worked on so far. If you're on desktop, hover for description!</div>

      <div>
        <div>
          <a href="./microwave/microwave.html" class="hoverme1">
                        <img src="./images/microwave2.png" alt="microwave" class="microadjust">
                    </a>
          <div class="unveil1">
            <h2 class="unveilh2">Microwave Interface</h2> Did you ever sit across from your microwave in the kitchen and think to yourself, "Yeah, it's alright. But what if it DIDN'T actually cook anything, so I could just push some beepy buttons without fear of activating some ghastly humming radiation
            chamber?" Well, my friend. Your bizarre prayers for easy amusement have been answered, for I have a simple microwave interface right here. You can finally feel safe from the threat of burning your tongue.
          </div>
        </div>
        <div>
          <div class="micromob">
            <h2 class="unveilh2">Microwave Interface</h2> Did you ever sit across from your microwave in the kitchen and think to yourself, "Yeah, it's alright. But what if it DIDN'T actually cook anything, so I could just push some beepy buttons without fear of activating some ghastly humming radiation
            chamber?" Well, my friend. Your bizarre prayers for easy amusement have been answered, for I have a simple microwave interface right here. You can finally feel safe from the threat of burning your tongue.
          </div>
          <a href="./calculator/calculator.html" class="hoverme2">
                        <img src="./images/quickmaths2.png" alt="math symbols" class="calcadjust">
                    </a>
          <div class="unveil2">
            <h2 class="unveilh2">Simple Calculator</h2> I know what you're thinking. "Colton ... there are just so many numerical values out there, and without a way to keep track of them, I'll never have the confidence to ask my dream date out to the prom!" Well, good buddy, it's time for you
            to ring up that handsome fella or gorgeous gal, because with this trustworthy calculator, you can woo your amour straight to Lover's Lane with your ability to add, subtract, divide and multiply those intimidating numerical values.
          </div>
        </div>
        <div>
          <div class="calcmob">
            <h2 class="unveilh2">Simple Calculator</h2> I know what you're thinking. "Colton ... there are just so many numerical values out there, and without a way to keep track of them, I'll never have the confidence to ask my dream date out to the prom!" Well, good buddy, it's time for you
            to ring up that handsome fella or gorgeous gal, because with this trustworthy calculator, you can woo your amour straight to Lover's Lane with your ability to add, subtract, divide and multiply those intimidating numerical values.
          </div>
          <a href="./rpsdgame/dyn-o-mite.html" class="hoverme3">
                        <img src="./images/rpsd2.png" alt="scissors and dynamite" class="dynadjust">
                    </a>
          <div class="unveil3">
            <h2 class="unveilh2">Rock, Paper, Scissors, Dynamite</h2> Test your mettle against the computer in this harrowing game of Rock/Paper/Scissors/Dynamite! Rock beats Scissors, Paper beats Rock, Scissors beats Paper and Dynamite, and Dynamite beats Rock and Paper. Now with four different weapons to
            pick from, this game of RPS is more brutal than ever before. Will Rock ever redeem himself to enter the gates of Valhalla again? Will Paper finally defeat her demonic adopted sister? Will Scissors make the band? Will Dynamite ever get back
            to his own time period? None of these elements are relevant, it's just Rock, Paper, Scissors, chill out.
          </div>
        </div>
        <div class="RPSDmob">
          <h2 class="unveilh2">Rock, Paper, Scissors, Dynamite</h2> Test your mettle against the computer in this harrowing game of Rock/Paper/Scissors/Dynamite! Rock beats Scissors, Paper beats Rock, Scissors beats Paper and Dynamite, and Dynamite beats Rock and Paper. Now with four different weapons to pick
          from, this game of RPS is more brutal than ever before. Will Rock ever redeem himself to enter the gates of Valhalla again? Will Paper finally defeat her demonic adopted sister? Will Scissors make the band? Will Dynamite ever get back to his
          own time period? None of these elements are relevant, it's just Rock, Paper, Scissors, chill out.
        </div>
      </div>


      <div class="about-title">
        <div>
          <hr class="about-hr">
        </div>
        <div>"What Do You Know?"</div>
        <div>
          <hr class="about-hr">
        </div>
      </div>

      <div class="section-desc">Here's just a couple things of which I have applicable smarts!</div>

      <ul class="ch-grid">
        <li>
          <div class="ch-item ch-img-1">
            <div class="ch-info">
              <h3>HTML & CSS</h3>
              <p>The basis with which to build all of this on. If I didn't have an idea of this stuff, you'd have absolutely no reason to be here!</p>
            </div>
          </div>
        </li>
        <li>
          <div class="ch-item ch-img-2">
            <div class="ch-info">
              <h3>JavaScript</h3>
              <p>If the site's going to do anything truly fun, we're going to need this. With JS in hand, we're going to make it jump through flamin' hoops.</p>
            </div>
          </div>
        </li>
        <li>
          <div class="ch-item ch-img-3">
            <div class="ch-info">
              <h3>JQuery</h3>
              <p>A neat little JS library for the sake of doing neat things with a little clean, simple code. </p>
            </div>
          </div>
        </li>
      </ul>

      <ul class="ch-grid">
        <li>
          <div class="ch-item ch-img-4">
            <div class="ch-info">
              <h3>Adobe CC</h3>
              <p>Photoshop, Illustrator, and experimentation with others! The industry standard for prettying up all your beloved media.</p>
            </div>
          </div>
        </li>
        <li>
          <div class="ch-item ch-img-5">
            <div class="ch-info">
              <h3>SASS</h3>
              <p>Adds the things to CSS that will make you say "Well, why didn't they just do that in the first place?" Love them variables.</p>
            </div>
          </div>
        </li>
        <li>
          <div class="ch-item ch-img-6">
            <div class="ch-info">
              <h3>PHP</h3>
              <p>The hard stuff! I wouldn't call myself a back-end guy quite yet, but I at least know enough to poke around at it.</p>
            </div>
          </div>
        </li>
      </ul>

      <ul class="ch-grid">
        <li>
          <div class="ch-item ch-img-7">
            <div class="ch-info">
              <h3>Laravel</h3>
              <p>A PHP framework! Who needs to type up all that tedious base, when you could just go out there and grab it?</p>
            </div>
          </div>
        </li>
        <li>
          <div class="ch-item ch-img-8">
            <div class="ch-info">
              <h3>SourceTree</h3>
              <p>Some GIT! Because nobody wants to lose their precious code to the ether, we have some fine methods for keeping it safe.</p>
            </div>
          </div>
        </li>
        <li>
          <div class="ch-item ch-img-9">
            <div class="ch-info">
              <h3>Wordpress</h3>
              <p>Hey, it's harder than it sounds. Sure, you can just go out and grab a pre-made theme, but what do you achieve? Let's make somethin' new.</p>
            </div>
          </div>
        </li>
      </ul>


      <footer>
        <div class="footer1"><i class="fa fa-copyright" aria-hidden="true"></i> Colton Steele</div>
        <div class="footer2">Majority of content on site developed, or developed in part, by me. Otherwise, used content is free for use or used with permission.</div>
        <div class="privacyfooter"><a href="privacypolicy.html">Privacy</a></div>
      </footer>
    </div>
    <script src="javascript.js" charset="utf-8"></script>
    <script src="./app.js" charset="utf-8"></script>
</body>

</html>