<!doctype html>
<html lang="{{ app()->getLocale() }}">

<head>
  <link rel="stylesheet" href="./css/app.css">
  <link rel="stylesheet" href="./css/grid.css">
  <link href="https://fonts.googleapis.com/css?family=Marck+Script|Overlock|Ovo" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.css" />
  <link rel="icon" type="image/png" href="./images/favicon.png" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="javascript.js" charset="utf-8"></script>
  <script src="https://use.fontawesome.com/d41a0ab025.js"></script>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="What's the weather in major cities across Canada? Come and check it out!">

  <title>Weather API</title>
</head>

<body onload="getWeather()">
  <div class="background">
    <div class="wrapper">
      <div class="hero">
        <div class="fonthero1">Jupiter or Saturn</div>
        <div class="fonthero2">Colton Steele</div>
      </div>
      <header>
        <div class="top-menu">
          <div class="visible-for-small-only">
            <div id="mobile-menu" class="menu close">
              <div class="visible-for-small-only">
                <i id="close-mobile-menu-button" class="fa fa-bars fa-2x burgadjust" aria-hidden="true"></i>
                <ul>
                  <li class="mobile-options"><a href="./index.html">Home</a></li>
                  <hr>
                  <li class="mobile-options"><a href="./about-me.html">About Me</a></li>
                  <hr>
                  <li class="mobile-options"><a href="./projects-meddling.html">Projects/Meddling</a></li>
                  <hr>
                  <li class="mobile-options"><a href="./weather.html">Weather</a></li>
                  <hr>
                  <li class="mobile-options"><a href="./contact.html">Contact</a></li>
                </ul>
              </div>
            </div>
            <i id="open-mobile-menu-button" class="fa fa-bars fa-2x burgadjust" aria-hidden="true"></i>
          </div>

          <div class="menu-options visible-for-medium-and-up" id="hidemenu">
            <nav>
              <ul>
                <li><a href="./index.html">Home</a></li>
                <li><a href="./about-me.html">About Me</a></li>
                <li><a href="./projects-meddling.html">Projects/Meddling</a></li>
                <li><a href="./weather.html">Weather</a></li>
                <li><a href="./contact.html">Contact</a></li>
              </ul>
            </nav>
          </div>
        </div>

      </header>

      <div class="streetlight">
        <div class="page-title-2">Weather API</div>
      </div>

      <div class="about-title">
        <div>
          <hr class="about-hr">
        </div>
        <div>A simple weather API for major cities across Canada!</div>
        <div>
          <hr class="about-hr">
        </div>
      </div>

      <div class="weatherselect">
        <h2>Today's weather in
        <select id="cbo">
          <option value="Calgary,ca">Calgary</option>
          <option value="Charlottetown,ca">Charlottetown</option>
          <option value="Edmonton,ca">Edmonton</option>
          <option value="Fredericton,ca">Fredericton</option>
          <option value="Halifax,ca">Halifax</option>
          <option value="Iqaluit,ca">Iqaluit</option>
          <option value="Montreal,ca">Montreal</option>
          <option value="Regina,ca">Regina</option>
          <option value="Toronto,ca">Toronto</option>
          <option value="Vancouver,ca">Vancouver</option>
          <option value="Victoria,ca">Victoria</option>
          <option value="Whitehorse,ca">White Horse</option>
          <option value="Yellowknife,ca">Yellowknife</option>

        </select>
        :</h2>
      </div>
      <div class="move-weather">
        <div class="flex-container">
          <div class="main-weather">
            <div class="mainly">Mainly: <b><span id="main"></span></b></div>
            <br/>
            <div class="details">Details:
              <div><b><span id="detail"></span></b></div>
            </div>
            <br/>
            <div class="humid">Humidity: <b><span id="humidity"></span></b></div>
            <br/>
            <div class="pressure">Pressure: <b><span id="pressure"></span></b> mbar</div>
          </div>
          <br/>
          <div class="temperature"><span id="temp"></span>°C
            <img id="icon" class="iconexp" alt="weather icon">
          </div>
          <br/>
        </div>
      </div>

      <div>
        <div class="windthings">
          <div class="movewind">
            <div class="flex-container">
              <div class="windspeed">Wind Speed: <b><span id="wind"></span></b></div>
              <div class="pinwheel-container" id="my-pinwheel">
                <div id="center-circle">
                  <div id="circle-highlight"></div>
                </div>
                <div id="triangle-large-upper-left"></div>
                <div id="triangle-small-upper-left"></div>
                <div id="triangle-large-upper-right"></div>
                <div id="triangle-small-upper-right"></div>
                <div id="triangle-large-lower-left"></div>
                <div id="triangle-small-lower-left"></div>
                <div id="triangle-large-lower-right"></div>
                <div id="triangle-small-lower-right"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <script>
      </script>


      <script>
        var city = "Calgary,ca";
        $(document).ready(function() {
          $('#cbo').on('change', function() {
            city = this.value;
            getWeather();
          })
        })

        function getWeather() {
          var xhttp = new XMLHttpRequest();
          var url = "http://api.openweathermap.org/data/2.5/weather?q=" + city + "&appid=212f47b6369c5820c97b9b1f326e967b&units=metric"
          xhttp.onreadystatechange = function() {
            if (xhttp.readyState == 4 && xhttp.status == 200) {
              var responseText = JSON.parse(xhttp.responseText);
              outputWeather(responseText);
            }
          }
          xhttp.open("GET", url, true);
          xhttp.send();
        }

        function outputWeather(weatherData) {
          var mainly = weatherData.weather[0].main;
          document.getElementById("main").innerHTML = mainly;

          var description = weatherData.weather[0].description;
          document.getElementById("detail").innerHTML = description;

          var icon = weatherData.weather[0].icon;
          icon = "http://openweathermap.org/img/w/" + icon + ".png"
          document.getElementById("icon").src = icon;

          var temp = weatherData.main.temp;
          document.getElementById("temp").innerHTML = temp;

          var wind = weatherData.wind.speed;
          document.getElementById("wind").innerHTML = wind;

          var anispeed = 10 / (wind + 0.1);
          console.log("anispeed=" + anispeed);

          // document.getElementById("my-pinwheel").style.animation = "pinOrbit " + anispeed + "s linear infinite;";
          // document.getElementById("my-pinwheel").style.WebkitAnimation = "pinOrbit " + anispeed + "s linear infinite;";

          document.getElementById("my-pinwheel").style.animationDuration = anispeed + "s";
          document.getElementById("my-pinwheel").style.WebkitAnimationDuration = anispeed + "s";

          var humidity = weatherData.main.humidity;
          document.getElementById("humidity").innerHTML = humidity;

          var pressure = weatherData.main.pressure;
          document.getElementById("pressure").innerHTML = pressure;

        }
      </script>

    </div>

    <div class="footerpadding"></div>

    <footer>
      <div class="footer1"><i class="fa fa-copyright" aria-hidden="true"></i> Colton Steele</div>
      <div class="footer2">Majority of content on site developed, or developed in part, by me. Otherwise, used content is free for use or used with permission.</div>
      <div class="privacyfooter"><a href="privacypolicy.html">Privacy</a></div>
    </footer>


  </div>
  <script src="javascript.js" charset="utf-8"></script>
  <script src="./app.js" charset="utf-8"></script>
</body>

</html>