.microwaveback {
    background-color: #444242;
    height: 1040px;
    width: 100%;
}

.microwavefront1 {
    background: linear-gradient(45deg, rgba(0,0,0,0), rgba(0,0,0,0.8)),
    url('../foods/burg.jpg');
    background-size: cover;
    height: 620px;
    width: 60%;
    position: absolute;
    left: 10%;
    top: 13%;
    border-radius: 12px;
    border: 20px solid #1b1b1b;
}

.microwavefront2 {
    background: linear-gradient(45deg, rgba(0,0,0,0), rgba(0,0,0,0.8)),
    url('../foods/eaters-collective-172257.jpg');
    height: 620px;
    width: 60%;
    position: absolute;
    left: 10%;
    top: 13%;
    border-radius: 12px;
    border: 20px solid #1b1b1b;
}


.microwavefront3 {
    background: linear-gradient(45deg, rgba(0,0,0,0), rgba(0,0,0,0.8)),
    url('../foods/neonbrand-231219.jpg');
    height: 620px;
    width: 60%;
    position: absolute;
    left: 10%;
    top: 13%;
    border-radius: 12px;
    border: 20px solid #1b1b1b;
}

.numberpad {
    background-color: #222;
    height: 550px;
    width: 250px;
    position: absolute;
    left: 82%;
    top: 15%;
    border-radius: 14px;
    border-style: none;
    border: 1.3px solid #f3f3f3;
}

.movenumberpadandbar {
    margin-left: 30px;
    margin-top: 60px;
}

.moveonlynumbers {
    margin-left: 43px;
    margin-top: 19px;
}

.buttonsize {
    height: 50px;
    width: 50px;
    margin-top: 5px;
    border-radius: 25px;
}

.clearstopstart {
    width: 50px;
    height: 40px;
    border-radius: 10px;
}

.clearadjust {
    margin-right: 5px;
}

.startadjust {
    margin-left: 5px;
}

.numboxalteration {
 margin-bottom: 20px;
 height: 40px;
 background: #1d1a1a;
 color: #61f946;
 width: 85%;
 font-family: 'Orbitron', sans-serif;
 text-align: right;
}

.move0 {
    margin-left: 54px;

}

.font-time {
    font-family: 'Orbitron', sans-serif;
    font-size: 13px;
}
