.calcbackground {
  height: 600px;
  width: 400px;
  margin-left: 40px;
  margin-top: 10px;
  border-radius: 15px;
  box-shadow: 4px 5px 4px #888888;
  background:
  linear-gradient(27deg, #405171 5px, transparent 5px) 0 5px,
  linear-gradient(207deg, #506269 5px, transparent 5px) 10px 0px,
  linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
  linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
  linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
  linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
  background-color: #33424a;
  background-size: 20px 20px;
}

.buttonstyle {
  background-color: #defbff;
  height: 65px;
  width: 65px;
  border-color: #4d5f73;
  font-family: 'Quicksand', sans-serif;

}

button {
  transition: 0.3s;
}

button:hover{
  background-color: #659cad;
}

.numpadstuff {
  margin-left: 64px;
  margin-top: 133px;
}

.clearedit {
  width: 271px;
  height: 65px;
  margin-top: 15px;
}

.pushrowsup {
  margin-top: 7px;
}

.displaybar {
  height: 55px;
  width: 273px;
  position: absolute;
  margin-top: 50px;
  margin-left: 67px;
  font-size: 1.4em;
  background-color: #c6dce6;
  color: #3b3b44;
  border-color: #4d4d6d;
  font-family: 'Armata', sans-serif;
}
